* {

  font-family: Arial, Helvetica, sans-serif;

}

.header {
  background-color: #007F73;
  color: white;
  height: 60px;
  line-height: 60px;
  padding: "10px";
  text-align: center;
  vertical-align: middle;
  margin: 0;

}


.contentSide {
  margin-top: 35px !important;

}

.home {
  margin-left: -45px;

  margin-top: -17px;
  text-align: center;
  animation: transition-in 0.75s;

}

.homeHeading {
  font-size: 50px;
  width: 100%;
  color: black;
  margin-left: -2px;
}


.allHeading {
  text-align: center;
  margin-top: 15px;
  color: black;
  margin-bottom: 10px;
}

.tableBox {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: transition-in 0.75s;
}

@keyframes transition-in {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }

  to {
    opacity: 1;
    transform: rotate(0);
  }
}


table {
  width: 100% !important;
}

table tr {
  line-height: 100%;
  vertical-align: middle;
}

.highlight-row tr {
  background-color: rgba(199, 251, 154, 0.655) !important;
  font-weight: bold !important;
}

.menu {
  color: #6F4E37;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.list-group-item {
  border: 0 !important;
}


.cardd {

  padding: 10px;

  border-color: 0;
  width: 80%;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  animation: transition-in 0.75s;
}



.addHead {
  color: #007f72;
  text-align: center;
}

.btn {

  width: 49%;
  color: black;
  border: 0 !important;
  height: 40px;
  margin-top: 20px;

}

.btn1 {
  background: #007f72 !important;

}

.btn2 {
  background: #FA7070 !important;
  margin-left: 2%;
}


.allBtn {
  color: black !important;
  margin: 0;
  color: #fff !important;
  width: 100% !important;
}

.allBtn:hover {
  color: #000 !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.deletebtn {
  background: #D04848 !important;
}

.updatebtn {
  background: #007F73 !important;
}


.updatebtn:hover {
  outline: 2px solid #007F73 !important;
  background: #fff !important;
  box-sizing: border-box !important;
}

.deletebtn:hover {
  outline: 2px solid #D04848 !important;
  background: #fff !important;
  box-sizing: border-box !important;
}


.image {
  width: 70%;
  margin-top: 10px;
}


.paragraph {
  text-align: center;
  font-size: 30px;
}



.aboutImg {
  width: 90%;

}

.noTask {
  color: #007f72;
  font-weight: bold;
  font-size: 28px;
}

.fillTask {
  color: #007f72;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  width: 100% !important;
  margin-left: 7px;

}

.searchButton {
  margin-top: 0;
  margin-left: 5px;
}